.launchesSection table {
    font-family: Arial, serif;
    font-size: 14px;
    width: 100%;
    thead th {
        position: sticky;
        top: 0;
        background-color: #0000cd7a;
        font-weight: normal;
        text-align: left;
        padding: 5px;
        color: #fafafa;
    }
    tbody td {
        font-weight: normal;
        text-align: left;
        padding: 5px;
    }
    tr {
        cursor: pointer;
    }
}
